*{
  margin: 0;
  padding: 0;
  overflow: hidden;

}
body{
  display: flex;
  justify-content: center;
  top: 0;
  height: 100vh;
}
.account{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 165px;
}
.sign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  
}
.in , .up{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #E4E4E4;
  background-color: #f6d5d2;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 90px;
  border-radius: 10px;
  margin-top: 10px;
}
.in:hover , .up:hover{
  color: #E4E4E4;
}
.form{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 15px;
  /* c:\Users\HP\Downloads\bootstrap-login-register-forms\form-2\assets c:\Users\HP\Downloads\bootstrap-login-register-forms\form-2\index.html */
}
.form input{
  background-color: #045757;
  height: 20px;
}
.firstdiv{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  background-color: #044343;
  border-radius: 10px;
  padding: 30px;
  height: fit-content;
  margin-top: 120px;
  width: 465px;
}
.title_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  column-gap: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #E4E4E4;
}
.search_bar{
  display: flex;
  align-items: center;
}
.input{
  font-size: 20px;
  padding: 10px;
  border-radius: 50px ;
  width: 400px;
  background-color:#E4E4E4 ;
  border: none;
  border-right: 2px solid #59524d  ;
  color: #000000;
}
.input:focus{
  outline: none;
}
.search_btn{
  font-size: 20px;
  padding: 10px 25px;
  border-radius:50px ;
  background-color:#056666 ;
  color: #E4E4E4;
  border: none;
  position: absolute;
  right: 0;
  left: 810px;
}
.search_btn:hover{
  background-color:#299999;
  color: #E4E4E4;


}
.focus_search_btn{
  color: #E4E4E4;
  background-color:#056666;
}

ul li {
  font-size: 25px;
  color: #E4E4E4;
  list-style: none;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
ul li div{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.p{
  background-color:transparent ;
  border: none;
  font-size: 20px;
}
.done_btn{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #e48d85;
  border: none;
}
.done_btn-focus{
  background-color: #bb6559;
}
.close-element{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
}
.button1 , .button2{
  height: 35px;
  width: 80px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.button1:hover{
  border: 1px solid #70322c;
}
.button2:hover{
  border: 1px solid #ffdfdb;
}
.button1{
  background-color: #f7bbb3;
}
.button2{
  background-color: #562622;
  color: #f6d5d2;
}
.p_none{
  display: none;
}
.btnsdiv{
  display: flex ;
  column-gap: 0;
}
.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.theme-container:hover {
  opacity: 0.8;
}
.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20,
    -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}
.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}
@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}
.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}
.adding_btn{
    width: 465px;
    height: 45px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;

    background: rgb(5, 105, 80);
    background: linear-gradient(0deg, rgb(6, 131, 110) 0%, rgb(12, 180, 141) 100%);
    border: none;
  }
  .adding_btn:hover{
    background: rgb(0, 255, 94);
    background: linear-gradient(0deg, rgb(80, 255, 211) 0%, rgb(7, 149, 116) 100%);
  }