*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  top: 0;
  height: 100vh;
}
.account{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 165px;
}
.sign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
}
.in , .up{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #E4E4E4;
  background-color: #f6d5d2;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 90px;
  border-radius: 10px;
  margin-top: 10px;
}
.in:hover , .up:hover{
  color: #E4E4E4;
}
.form{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 15px;
}
.form input{
  background-color: #145DA0;
  height: 20px;
}
.firstdiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  background-color: #eff8fff3;
  border-radius: 10px;
  padding: 30px;
  height: fit-content;
  margin-top: 150px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 465px;
}
.quotediv{
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  padding:10px;
  border-radius: 10px;
  background-color: #f2f8fd;
  min-height :50px;
  max-width: 350px;
  color: #1b1b1c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.title_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  column-gap: 30px;
  font-family: 'VotrePolice', sans-serif; 
  color: #131a28; 
  font-size: 2em; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: moveTitle 2s ;
}
@keyframes moveTitle {
  0% {
    transform: translateX(50px);
  }
  
  100% {
    transform: translateX(0);
  }
}
.search_bar{
  display: flex;
  align-items: center;
}
.input{
  font-size: 20px;
  padding: 9px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  max-width: 400px;
  background-color:#E4E4E4 ;
  border: none;
  border-top: 1px solid #59524d  ;
  border-bottom: 1px solid #59524d  ;
  border-left: 1px solid #59524d  ;
  color: #000000;
}
.input:focus{
  outline: none;
}
.search_btn{
  font-size: 20px;
  padding: 10px 25px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #055C9D;
  color: #E4E4E4;
  border: none;
  cursor: pointer;
}
.search_btn:hover{
  background-color:#145DA0;
  color: #E4E4E4;
}
.focus_search_btn{
  color: #E4E4E4;
  background-color:#056666;
}
ul li {
  font-size: 25px;
  color: #000000;
  list-style: none;
  text-align: left;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li div{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.p{
  background-color:transparent ;
  border: none;
  font-size: 20px;
}
.ptask{
  max-width: 340px;
}
.close-element{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button1 , .button2{
  height: 35px;
  width: 80px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
.p_none{
  display: none;
}
.btnsdiv{
  display: flex ;
  column-gap: 0;
}
.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff8fff3;
  /* background: linear-gradient(145deg, #395a75, #d9e8fba2); */
  cursor: pointer;
}
.theme-container:hover {
  background: linear-gradient(145deg, #6a859c, #ffffffa2);
}
@keyframes change {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}
.adding_btn{
    height: 45px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: #145DA0 ;
    border: none;
  }
  .adding_btn:hover{
    background: linear-gradient(0deg, #001e5f 0% , #145DA0 80%);
  }
  @media only screen and (min-width: 540px ) {
    .adding_btn , .input{
     width: 465px;
    }
    
   
  }
  @media only screen and (max-width:540px) {
    .quotediv{
      position: relative;
      margin: 0;
      border:1px solid #000000;
      max-width: 300px;
    }
    .firstdiv{
      margin-top: 100px;
    }
  }